td, th{
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

form a {
    margin-left: 10px;
}

#floatElementRight {
    float: right;
}

#centerDiv {
    margin: auto;
    width: 50%;
}

.search-bar{
    margin: 20px;
    text-align: center;
}

.search-bar input{
    width: 75%;
}

.video-item img{
    max-width: 60px;
}

.video-detail .details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

#divSquare {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-color: #1f9;
    overflow: hidden;
}

#divContent {
    position: absolute;
    text-align: center;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
}

#divTable{
    display:table;
    height:100%;
    width:100%;
}
#divTableCell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}